
#voting-map-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  #geo-map {
    max-width: 100%;
    height: auto;
  }
  

  #geo-map path {
    fill: white;
    stroke: rgb(15,15,15);
    stroke-width: 0.2;
    cursor: pointer;
  }
  
  #geo-map path:hover {
    fill: orange; 
  }
  

  #geo-map path.unavailable {
    pointer-events: none;
    cursor: not-allowed;
    fill: url(#diagonalHatch);
    opacity: 0.6;
  }

  #geo-map path.selected {
    fill: blue; 
  }
  

  #geo-map path.related {
    fill: green; 
  }

  #info-display {
    position: fixed; 
    top: 125px;
    left: 20px; 
    width: 250px; 
    background-color: rgba(255, 255, 255, 0.4);
    padding: 15px;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    z-index: 1000; /
  }

#info-display h3 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #333; 
  text-align: center;
}
#info-display p {
  margin: 5px 0;
  font-size: 0.9em;
  color: #555; 
  line-height: 1.4;
}

#info-display p:first-child {
  font-weight: bold;
  color: #000; 
}


#year-panel {
  position: fixed; 
  top: 125px; 
  right: 20px; 
  width: 150px; 
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  z-index: 1000; 
  text-align: center; 
}

#year-panel h4 {
  margin: 0 0 10px 0;
  font-size: 1em; 
  font-weight: bold;
}

#year-panel select {
  width: 100%;
  padding: 5px; 
  font-size: 0.9em; 
  border-radius: 4px;
  border: 1px solid #ccc;
}

#info-display p:hover {
  color: #007BFF; 
  text-decoration: underline; 
  cursor: pointer;
}

#info-display p.no-hover:hover {
  color: inherit; 
  text-decoration: none; 
  cursor: default;
}

#info-display .info-footer {
  font-size: 0.6em; 
  color: #555;
  text-align: left; 
  margin-top: 10px; 
  font-style: italic; 

}